/*! http://responsiveslides.com v1.51 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  }


.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #000;
  font-weight: bold;
  }

  